[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
black = "*"
pytest = "*"
pytest-django = "*"
djangorestframework = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-xdist = "*"
requests = "*"
responses = "*"
allure-pytest = "*"
pytest-sugar = "*"

[requires]
python_version = "3.12"
